html {
    background-color: black;
}

html body {
    margin: 0;
    padding: 0;
}

.input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

.container {
    display: flex;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

.part_left {
    flex: 1;
    background-image: url("imgs/unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.part_right  {
    flex: 2;
    background-color: white;
}

.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}

.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

