html {
    background-color: black;
}

html, body {
    margin: 0;
    padding: 0;
}

.input,
textarea,
select {
    font-family: inherit;
    font-size: inherit;
}

input {
  border: 2px solid #3d3d3d;
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
  width: 250px;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: rgb(182, 182, 182);
}

.container {
    display: flex;
    height: 100vh;
    width: 80vw;
    margin: 0 auto;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 48px;
    border: none;
    margin: 0;

}

.part_left {
    display: flex;
    box-sizing: border-box;
    flex: 1.2;
    background-image: url("imgs/unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.section1 {
    font-family: system-ui;
    padding: 15% 12% 8% 5%;
    margin: 0px;
    /* padding-top: 15%;
    padding-left: 5%;
    padding-right: 12%;
    padding-bottom: 8%; */
    background-color: rgb(245, 243, 243);

}
.part_right  {
    flex: 2;
    background-color: white;
}

.skranji-regular {
  font-family: "Skranji", system-ui;
  font-weight: 400;
  font-style: normal;
}

.skranji-bold {
  font-family: "Skranji", system-ui;
  font-weight: 700;
  font-style: normal;
}

@font-face {
    font-family: 'Norse';
    src: url('fonts/Norse-Bold.woff2') format('woff2'),
        url('fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

.logo {
    display: flex;
    font-family: Norse;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    height: 150px;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    margin-top: 200px;
    padding: 10px;
}

.field {
    display: flex;
    flex-direction: column;
}

form {
    padding: 16px;
    font-family: system-ui;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.section3 {
    padding: 32px;
}

button {
    background-color: #00300e;
    border-radius: 10px;
    border: none;
    width: 200px;
    height: 50px;
    font-family: system-ui;
    font-size: 16px;
    font-weight: bold;
    color:rgb(244, 255, 249);
    cursor: pointer;
}

button:hover {
  background-color: #333;
}

button:active {
  transform: translateY(1px);
}

a {
    color: green;
    text-decoration: none;
}